.modal-form {
    display: flex;
    flex-direction: column;
  }
  
  .modal-form-field {
  margin-bottom: 10px;
  }
  
  .modal-form-capture {
    font-size: 20px;
    text-align: center;
    margin-bottom: 12px;
    color: var(--main-font-color);
  }
  
  .modal-form-input-desc {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
  
    color: var(--secondary-color);
  }
  
  .modal-form-input-wrapper {
    position: relative;
  }
  
  .modal-form-field-icon {
    position: absolute;
    top: 50%;
    left: 12px;
  
    transform: translateY(-50%);
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-form-input:focus + & {
      fill: var(--accent-color);
    }
  }
  
  .modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px; 
  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border-color: var(--accent-color);
      outline: none;
    }
  }
  
  .modal-form-message {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      outline: none;
      border-color: var(--accent-color);
    }
    
    &::placeholder {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }
  
  
  
  