:root {
    --main-font-family: 'Roboto', sans-serif;
    --letter-spacing: 0.03em;
    --main-font-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196f3;
    --button-bg-color: #f5f4fa;
    --white-font-color: #ffffff;
    --dark-background-color: #2f303a;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  